.doSomeThing {
  background-color: #0100A6;
  color: #ffffff;
  width: initial;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment {
  font-weight: bold;
  font-size: 100px;
}

.line {
  color: #D4D0C7;
}