html {
    overflow-y: hidden !important;
}

.pg-wrapper {
    display: flex;
}

.pg-container {
    display: flex;
    flex-direction: row; //가로로 정렬
    flex-wrap: nowrap;   // 옆으로 삐져나감 줄바꿈 없음 기본값임
    justify-content: flex-start;    //정렬 기본값 아이템들을 시작점으로 정렬. 기본값임
    align-items: stretch;   //아이템들이 수직축 방향으로 끝까지 쭈욱 늘어남
}

.pg-page {
    width: 100vw;
    height: 98vh;
    //flex-basis: 100%;
    align-items: center;
    justify-content: center;
    //flex-flow: row;
    color: #fff;
    position: relative;
 /*   height: 937px;
    width: 1920px;*/
}


.pg-page:nth-child(1) { background-color: #F1F1F1; }
.pg-page:nth-child(2) { background-color: #CBCBCB; }
.pg-page:nth-child(3) { background-color: #A5A5A5; }
.pg-page:nth-child(4) { background-color: #989898; }